.modal {
  position: fixed;
  z-index: 12;
  top: 26%;
  left: 10%;
  width: 80%;
  overflow: auto;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 15px;
  border: 1px solid #888;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal_with_button {
  min-height: 240px;
}

.none {
  display: none;
}

.modalContent {
  padding-top: 10px;
}

.modalHeader {
  height: 42px;
  padding: 2px 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-weight: bold;
  color: #000000;
  font-size: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modalButtons {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.modalButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #3C82F6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.modalButton_disabled {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ccc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}