.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 10px 0;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}
