@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.i {
  display: block;
  float: left;
  height: 50px;
  width: 1px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.i:hover {
  background-color: #000 !important;
}

.i .no + .i10m {
  border-left-color: #f2f2f2 !important;
}

.no {
  background-color: #e2e2e2;
}

.ok {
  background-color: var(--color-accent-4);
}

.incident {
  position: relative;
  background-color: #ff0000;
}

.incident::after {
  position: absolute;
  display: inline-block;
  content: "";
  z-index: 1;
  width: 10px;
  height: 50px;
  background-color: red;
}

.incident.terminated::after {
  background-color: rgb(242, 166, 0);
}

.i10m {
  border-left: 1px solid #f2f2f2;
}

.i1h {
  border-left: 2px solid #fff;
}

.mapboxgl-popup-close-button {

  border: none;
  color: #007acc; 
  font-size: 20px;
  padding: 2px; 
  cursor: pointer;
  border-radius: 0 8px 0 8px !important;
  transition: transform 0.3s ease, color 0.3s ease; 
}

.mapboxgl-popup-close-button:hover {
  color: #ff5733;
  transform: scale(1.2); 
}

.mapboxgl-popup {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 0;
  max-width: 300px;
  border-radius: 5px;
}
